.landing-page {
    align-items: center;
    background-color: black;
    background-image: url('../../assets/giphy.gif') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50em;
    display:flex;
    height: 100vh;
    justify-content: center center;
}

.enter {
    color: white;
    font-family: 'get-schwifty';
    font-size: 4em;
    left: 5.3em;
    position: relative;
}

.link-to-enter {
    text-decoration: none;
}