.landing-page {
    background-image: url('../../assets/giphy.gif');
    background-position: center;
    background-size: 50em;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: black;
    display:flex;
    justify-content: center center;
    align-items: center;
}

.enter {
    color: white;
    font-size: 4em;
    position: relative;
    left: 7.3em;
    text-shadow: 
   -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
   -1px -1px 0 #000;
}