.pagination {
    align-items: center;
    background-color:rgb(51, 51, 60);
    display: flex;
    height:100px;
    justify-content: center;
}

button {
    background-color: rgb(51, 51, 60);
    border: none;
    color: chocolate;
    font-size: 2em;
    margin: 0 51px;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    color: #E89242FF;
    transform:scale(1.5);
}



